#header {
	color: #fff;
	height: 40px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 101;
}
#header a, #header li, #header p {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#header .header-inner {
	display: table;
	position: relative;
	width: 100%;
}
#header .header-top-nav {
	float: right;
}
#header #nav {
	text-align: center;
}
.my-logo img {
	width: 70px;
}
.mega-menu-item img {
	height: 40px;
	margin-left: 10px;
	width: 40px;
}
.sub-nav {
	z-index: 1;
}

/*========== SUBHEADER ==========*/

.page-sub-header {
	background: #D2C4C4;
	float: right;
	font-size: 0;
	margin-top: 43px;
	opacity: 0.6;
	position: absolute;
	width: 100%;
	z-index: 100;
}
.page-sub-nav {
	float: right;
}
.page-sub-header a {
	color: #000;
	display: block;
	font-family: "GothamLight", Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 44px;
	opacity: 1;
	padding: 0px 15px;
}
.page-sub-header a:hover {
	color: #ff6600;
}
.page-sub-header li.active a {
	color: #ff6600;
}
.page-sub-header li.active a:hover {
	cursor: default;
}
.page-sub-header ul > li {
	display: inline-block;
	position: relative;
	text-align: left;
	vertical-align: middle;
}

/*========== SUBHEADER END ==========*/

#main-nav li.menu-item-has-children > a{
	cursor: default; 
}


/* =========================== */

.mobile-nav-wrapper {
	background: #ECECEC;
}

.mobile-nav {
	padding: 15px 20px 40px;
	color: #000;
}
.mobile-nav li > a {
	display: block;
}
.mobile-nav a {
	font-size: 15px;
}
.mobile-nav li.active > a {
	color: #ff6600;
}
.mobile-nav > li > a {
	border-bottom: 1px solid #17283c;
	font-weight: 700;
	letter-spacing: 0.1em;
	line-height: 3.5em;
	text-transform: uppercase;
}
.mobile-nav .sub-nav {
	display: none;
}
.mobile-nav .menu-item-has-children {
	position: relative;
}

.mobile-nav > .menu-item-has-children.opened > a {
	color: #ff6600;
}
.mobile-nav.current-menu-item > a {
	color: #ff6600;
}
.mobile-nav .sub-nav {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	padding: 25px 0 20px 30px;
}
.mobile-nav .sub-nav a {
	line-height: 3em;
}
.mobile-nav .sub-nav .fa {
	margin-right: 10px;
}
.mobile-nav .sub-nav .sub-nav {
	padding: 0 0 0 20px;
}

/* ============ ARROW ============== */

.mobile-nav .menu-item-has-children .open-subnav {
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	cursor: pointer;
	font-size: 12px;
	height: 1.8em;
	line-height: 1.65em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 1.1em;
	transition: all 0.3s ease 0s;
	width: 1.8em;
}
.mobile-nav .menu-item-has-children .open-subnav:before {
	font-family: FontAwesome;
	content: "\f105";
}

.mobile-nav .menu-item-has-children.opened > a {
	color: #ff6600;
}
.mobile-nav .menu-item-has-children.opened > .open-subnav:before {
	content: "\f107";
}
.mobile-nav .menu-item-has-children.opened .opened .sub-nav {
	color: #fff;
}
.mobile-nav > .menu-item-has-children > .open-subnav {
	-moz-border-radius: 50% 50% 50% 50%;
	-ms-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	border: 1px solid;
}
.mobile-nav > .menu-item-has-children.opened > .open-subnav, 
.mobile-nav > .menu-item-has-children > .open-subnav:hover {
	background: #ff6600;
	border: 1px solid #ff6600;
	color: #fff;
}

/* ============ ARROW END ============== */



@media all and (max-width: 992px) {
	.page-sub-header {
		margin-top: 64px;
	}
	.my-logo img {
		margin-top: 5px;
		width: 114px;
	}
}

@media all and (max-width: 600px) {
	.my-logo img {
		margin-top: 5px;
		width: 95px;
	}	
}