/* ============= FONTS AND SIZES ================== */

.font-1 {
	font-family: 'GothamExtraLight';
}

.font-2 {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1, .title-lg {
	font-size: 78px;
	color: #ff6600;
}

h1, .title-lg {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	line-height: 1.8;
	letter-spacing: normal;
	font-weight: normal;
}

h2, .title-md {
	font-size: 55px;
	color: #ff6600;
	font-weight: normal;
}

h3, .title-sm {
	font-size: 43px;
	color: #ff6600;
	margin: 2px 0px 25px 0px;
}

a, p, .text, h6, .section li {
	font-size: 27px;
}

h3, h4, h5, h6, p, .section li, .title-sm, .text, .title-xs {
	font-family: 'GothamExtraLight';
	line-height: 1.14286;
	font-weight: 200;
	letter-spacing: -0.01em;
}

@media (min-width: 993px) and (max-width: 1200px) {
	h1, .title-lg {
		font-size: 75px;
	}

	h2, .title-md {
		font-size: 52px;
	}

	h3, .title-sm {
		font-size: 40px;
	}

	a, p, .text, h6, .section li {
		font-size: 26px;
	}
}

@media (min-width: 600px) and (max-width: 992px) {
	h1, .title-lg {
		font-size: 60px;
	}

	h2, .title-md {
		font-size: 45px;
	}

	h3, .title-sm {
		font-size: 35px;
	}

	a, p, .text, h6, .section li {
		font-size: 25px;
	}
}

@media (min-width: 500px) and (max-width: 600px) {
	h1, .title-lg {
		font-size: 48px;
	}

	h2, .title-md {
		font-size: 35px;
	}

	h3, .title-sm {
		font-size: 30px;
	}

	a, p, .text, h6, .section li {
		font-size: 23px;
	}
}

@media (min-width: 450px) and (max-width: 500px) {
	h1, .title-lg {
		font-size: 43px;
	}

	h2, .title-md {
		font-size: 32px;
	}

	h3, .title-sm {
		font-size: 28px;
	}

	a, p, .text, h6, .section li {
		font-size: 21px;
	}
}

@media (min-width: 400px) and (max-width: 450px) {
	h1, .title-lg {
		font-size: 40px;
	}

	h2, .title-md {
		font-size: 29px;
	}

	h3, .title-sm {
		font-size: 25px;
	}

	a, p, .text, h6, .section li {
		font-size: 20px;
	}
}

@media (min-width: 350px) and (max-width: 400px) {
	h1, .title-lg {
		font-size: 38px;
	}

	h2, .title-md {
		font-size: 27px;
	}

	h3, .title-sm {
		font-size: 23px;
	}

	a, p, .text, h6, .section li {
		font-size: 19px;
	}
}

@media (min-width: 320px) and (max-width: 350px) {
	h1, .title-lg {
		font-size: 37px;
	}

	h2, .title-md {
		font-size: 26px;
	}

	h3, .title-sm {
		font-size: 22px;
	}

	a, p, .text, h6, .section li {
		font-size: 18px;
	}
}

@media (min-width: 300px) and (max-width: 320px) {
	h1, .title-lg {
		font-size: 36px;
	}

	h2, .title-md {
		font-size: 25px;
	}

	h3, .title-sm {
		font-size: 21px;
	}

	a, p, .text, h6, .section li {
		font-size: 17px;
	}
}


@media all and (max-width: 300px) {
	h1, .title-lg {
		font-size: 35px;
	}

	h2, .title-md {
		font-size: 24px;
	}

	h3, .title-sm {
		font-size: 20px;
	}

	a, p, .text, h6, .section li {
		font-size: 16px;
	}
}


/* ============= FONTS AND SIZES END ================== */

.centered {
	text-align: center;
}

.text-left {
	text-align: left !important;
}

.no-max-width {
	max-width: none;
}

.half-width {
	max-width: 50%;
}

.padding-top-10 {
	padding-top: 10px;
}

.btn-grey {-
	background-color: #8a8a8a;
	height: 40px;
	font-size: 14px;
	border-radius: 4px;
	border: none;
}

.btn-default {
	background: #8a8a8a;
}


/* ==================== COLORS ================ */

.orange {
	color: #622010 !important;
}

.white {
	color: #fff !important;
}

.black {
	color: #000 !important;
}

.grey {
	color: #e8e8e8 !important;
}

.b-grey {
	background: #E8E8E8 !important;
}

.b-orange {
	background: #622010;
}

#top-bar-background {
	background: #2E2E2E;
}

/* ==================== COLORS END ================ */

/* SECTIONS */

.smaller-section {
	padding: 50px 0 60px;
}

.right-text-box {
	text-align: left;
}


/* ===================== First Section ================= */

.firstSection.with-subheader {
	margin-top: 30px;
}

.firstSection .top-right-text-box {
	margin-top: 35%;
}

.spanFirstSection {
	margin-bottom: 140px;
}

/* ===================== First Section END ================= */



/* ===================== My Section ================= */

.section {
	padding: 80px 0 70px;
}

.section.first {
	padding: 90px 0 56px;
}

.section .main-header {
	margin-bottom: 80px;
}

.section div, .section h3 {
	text-align: center;
}

.section ul {
	text-align: left;
}

.section .banner-orange h6 {
	color: #fff;
}

.section .section-list {
	list-style: disc;
	padding-left: 20px;
}

.section.no-padding {
	padding: 0;
}
.section.no-padding .section-title {
	margin: 0;
}

@media all and (min-width: 768px) {
	.section .equal-height {
		align-items: center;
		display: flex;
		justify-content: center;
	}
}

@media all and (max-width: 768px) {
	.section .main-header {
		margin-bottom: 30px;
	}

	.section .equal-height > div:first-of-type {
		margin-bottom: 30px;
	}

	.section {
		padding: 60px 0 50px;
	}

	.section.first {
		padding: 100px 0 50px;
	}

	.section.first-menu {
		padding: 140px 0 50px;
	}
}

@media all and (max-width: 600px) {
	.section {
		padding: 45px 0 35px;
	}
}

/* ===================== Section End ================= */

/* ============= FAQ ================ */

.faq, .faq div {
	text-align: left;
}

.faq .section-header {
	color: #000;
	font-weight: bold;
	margin-bottom: 50px;
}

.faq .question {
	color: #622010;
	text-align: center;
	font-weight: 600;
}

/* ============= FAQ ================ */


/* ===================== WARRANTY END =================== */

@media (max-width: 967px) {
	.myTabs {
		float: none !important; 
		padding-bottom: 15px;
	}
}

/* Support */

.process-item h4 {
	color: #000;
}

.process-item p {
	font-size: 1.3em;
	color: #000;
	letter-spacing: -0.01em;
}

/* SUBSCRIBE CONTAINER */

.subscribe-container {
	padding: 40px 0 80px;
}


/* LISTS */

.steps-list {
	font-size: 23px;
	color: black;
}

.steps-list li {
	padding: 8px;
}

@media all and (max-width: 1200px) {
	.no-max-width {
		max-width: 100%;
	}
}

@media all and (max-width: 992px) {
	.responsive-section .responsive-button {
		text-align: inherit;
	}

	.tab-container .tab-content {
		padding: 15px 0;
	}

	.process-builder.style-simple .process-details {
		padding: 0;
	}

}

@media (min-width: 600px) and (max-width: 992px) {
	.half-width {
		max-width: 80%;
	}
}

@media all and (max-width: 767px) {
	.myAnimated {
		transition: transform 1.6s ease-in-out;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}

	.firstSection .top-right-text-box {
		margin-top: 10%;
	}

	#design-section {
		margin-bottom: 10rem;
	}

}


@media all and (max-width: 600px) {
	.half-width {
		max-width: 95%;
	}


	.post-slideshow .owl-next, .post-slideshow .soap-gallery-next, 
	.soap-gallery .owl-next, .soap-gallery .soap-gallery-next, 
	.soap-gallery-wrapper .owl-next, .soap-gallery-wrapper .soap-gallery-next, 
	.post-slider .owl-next, .post-slider .soap-gallery-next, 
	.testimonials.owl-carousel .owl-next, .testimonials.owl-carousel .soap-gallery-next, 
	.features-icon-slider .owl-next, .features-icon-slider .soap-gallery-next, 
	.brand-slider.style1 .owl-next, .brand-slider.style1 .soap-gallery-next {
		right: 1px;
	}

	.post-slideshow .owl-prev, .post-slideshow .soap-gallery-prev, 
	.soap-gallery .owl-prev, .soap-gallery .soap-gallery-prev, 
	.soap-gallery-wrapper .owl-prev, .soap-gallery-wrapper .soap-gallery-prev, 
	.post-slider .owl-prev, .post-slider .soap-gallery-prev, 
	.testimonials.owl-carousel .owl-prev, .testimonials.owl-carousel .soap-gallery-prev, 
	.features-icon-slider .owl-prev, .features-icon-slider .soap-gallery-prev, 
	.brand-slider.style1 .owl-prev, .brand-slider.style1 .soap-gallery-prev {
		left: 1px;
	}

	.post-slideshow:hover .owl-prev, .soap-gallery:hover .owl-prev, 
	.soap-gallery-wrapper:hover .owl-prev, .post-slider:hover .owl-prev, 
	.testimonials.owl-carousel:hover .owl-prev, .features-icon-slider:hover .owl-prev, 
	.brand-slider.style1:hover .owl-prev {
		left: 1px;
	}
	.post-slideshow:hover .owl-next, .soap-gallery:hover .owl-next, 
	.soap-gallery-wrapper:hover .owl-next, .post-slider:hover .owl-next, 
	.testimonials.owl-carousel:hover .owl-next, .features-icon-slider:hover .owl-next,
	 .brand-slider.style1:hover .owl-next {
		right: 1px;
	}

	#slideshow .tp-leftarrow.default {
		left: 1px !important;
	}

	#slideshow .tp-rightarrow.default {
		right: 1px !important;
	}


	.tab-container .tabs a {
		font-size: 12px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.vertical-tab-1 h4 {
		font-size: 35px;
	}

	.tab-container.vertical-tab-1 .tabs li a {
		font-size: 15px;
	}
}


@media all and (max-width: 450px) {
	.responsive-section .responsive-button a {
		height: 75px;
		line-height: 55px;
	}
	.responsive-section .responsive-button a i {
		margin-right: 3px;
		width: 50px;
		height: 50px;
		line-height: 55px;
	}
}

@media all and (max-width: 420px) {
	.responsive-section .responsive-button a i {
		display: none;
	}
	.btn {
		padding: 0px;
	}
}



/* ============== DEVICE =================== */

@media all and (min-width: 992px) {
	.visible-tablet {
		display: none !important;
	}

	.visible-mbl {
		display: none !important;
	}

	.hidden-desktop {
		display: none !important;
	}
}

@media (min-width: 650px) and (max-width: 991px) {
	.hidden-tablet {
		display: none !important;
	}

	.visible-desktop {
		display: none !important;
	}

	.visible-mbl {
		display: none !important;
	}

	
}

@media (max-width: 649px) {
	.visible-desktop {
		display: none;
	}
	.hidden-mbl {
		display: none !important;
	}
	.visible-tablet {
		display: none !important;
	}


}


/* ============== DEVICE END =================== */
