.myAnimated {
    transition: transform 1.6s ease-in-out;
    padding-bottom: 75px;
    margin-bottom: 75px;
}

.myBounce {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    animation-duration: 5s;
}

@media all and (max-width: 768px) {
	.myBounce {
		/*animation-duration: 0s;*/
	}
}