<!DOCTYPE html>
<html>
<head>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" />

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="description" content="Toys For Christians | Teach your child the right way">
    <meta name="author" content="David">

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
    <title>Toys For Christians</title>
    
    <!-- Theme Styles -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,300,500,600,700' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    <!-- Magnific Popup core CSS file -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/settings.css') }}" media="screen" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="screen" /> -->
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <!-- <link id="main-style" rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}"> -->
    <link id="main-style" rel="stylesheet" href="{{ url_for('static', filename='css/myStyle.css') }}">
    <link id="main-style" rel="stylesheet" href="{{ url_for('static', filename='css/myAnimations.css') }}">
    
    <!-- Updated Styles -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/updates.css') }}"> -->

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    
    
    <!-- CSS for IE -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ie.css') }}" />
    <![endif]-->
    
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    <!-- Required -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
</head>

<!-- Header: Logo and Main Nav -->
<body>
    <div id="page-wrapper">
        <header id="header" class="header-color-white">
            <div id="top-bar-background">
                <div class="container">
                    <div class="header-inner">
                        <div class="my-logo">
                            <a href="public">
                                <img src="{{ url_for('static', filename='images/logo.png') }} " alt="">
                                <!-- Toys For Christians -->
                            </a>
    
                        </div>
                        <nav id="nav">
                            <!-- <ul class="header-top-nav">
                                <li class="visible-mobile">
                                    <a href="#mobile-nav-wrapper" data-toggle="collapse"><i class="fa fa-bars has-circle"></i></a>
                                </li>
                            </ul> -->
    
                            <ul id="main-nav" class="hidden-mobile2">
                                <li id="nav-home" class="">
                                    <a href="#">toysforchristians@gmail.com</a>
                                </li>
                                <li id="nav-smartphones" class="">
                                    <a class="" href="#">07544393927</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="mobile-nav-wrapper collapse visible-mobile" id="mobile-nav-wrapper">
                    <ul class="mobile-nav">
                        <li id="nav-home" class="">
                            <a href="#">toysforchristians@gmail.com</a>
                        </li>
                        <li id="nav-smartphones" class="menu-item-has-children mega-menu-item mega-column-2">
                            <a class="" href="#">07544393927</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div id="" class="parallax firstSection" data-stellar-background-ratio="0.5">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <!-- <div class="animated" data-animation-type="slideInLeft">
                        </div> -->
                        <div class="col-sm-5 col-sm-push-7 col-xs-12 centered">
                            <div class="top-right-text-box">
                                <h1 class="title-lg">Teddy.</h1>
                                <h5 class="title-sm black">Christian Singing Bear.</h5>
                            </div>
                        </div>
                        <div class="col-sm-7 col-sm-pull-5 col-xs-12 centered">
                            <img src="{{ url_for('static', filename='images/bear.png') }}" class="animated no-max-width" data-animation-type="flipInX">
                        </div>
                    </div>
                </div>
            </div>
        </div>      
        
        <div id="processor-section" class="section b-grey">
            <div class="container">
                <div class="col-sm-5 animated" data-animation-type="fadeInRight">
                    <h3>Press the heart.</h3>
                    <h3>Sing together.</h3>
                    <h6>You can press any of the feet, or you can press the chest. It will play the following songs for you</h6>
                    <br>
                    <h6>Yes, Jesus Loves me</h6>
                    <h6>I Love the Lord</h6>
                    <h6>Amen, Praise the Lord</h6>
                    <br>
                    <h3>Each song around <b>60</b> seconds</h3>
                </div>
                <div class="col-sm-7 col-md-7 animated" data-animation-type="fadeInLeft">
                    <img src="{{ url_for('static', filename='images/bear3.jpg') }}" alt="">
                </div>
            </div>
        </div>

        
        <div id="design-section" class="section" name="design-section">
            <div class="container">
                <h3>I join you in every place!</h3>
                <h6>Kids love the drag the bear all over.</h6>
            </div>
            <div class="">
                <img  src="{{ url_for('static', filename='images/bear.png') }}" style="width: 600px" alt="" class="myAnimated extraPadding" data-transform="0" data-transform-max="230" data-transform-min="-50" data-transform-step="2" data-rotate-max="30" data-rotate-min="-60" data-rotate="0" data-rotate-step="20">
            </div>
        </div>
        
        
        <div id="storage-section" class="section b-grey" >
                <div class="container">
                    <div class="col-sm-5 col-sm-push-7">
                        <h3>Here to teach children about the Lord</h3>
                        <h6>Deuteronomy 6:5-9</h6>
                        <h6> Love the Lord your God with all your heart, with all your soul, and with all your strength. Take to heart these words that I give you today. 
                            Repeat them to your <b>children</b>. Talk about them when you’re at home or away, when you lie down or get up.
                        </h6>
                        
                    </div>
                    <div class="col-sm-6 col-sm-pull-5 animated" data-animation-type="slideInLeft">
                        <img src="{{ url_for('static', filename='images/bear4.jpg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>

       
        
        <div class="callout-box style3">
            <div class="container">
                <div class="callout-content">
                    <div class="callout-text">
                        <h3 class="font-2">Teddy. Praise the Lord with me!</h3>
                    </div>
                    <div class="callout-action">
                        <button id="purchase-btn" class="btn style3" href="#">Purchase Now</button>
                    </div>
                </div>
            </div>
        </div>
    
    <div id="loader" class="col-xs-12 hidden">
        <div class="text-center">
            <i class="fa fa-spinner fa-spin"></i>
            <p>Loading...</p>
        </div>
    </div>


<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.noconflict.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.2.8.3.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-translate3d.js')}}"></script>

<!-- Twitter Bootstrap -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

<!-- Magnific Popup core JS file -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script> 

<!-- parallax -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.stellar.min.js')}}"></script>

<!-- waypoint -->
<script type="text/javascript" src="{{ url_for('static', filename='js/waypoints.min.js')}}"></script>

<!-- load page Javascript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/miracle.js')}}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>